<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<%= @product.name %>
<%= @product.price %>
<%= @product.description %>

<%=button_to 'Add to Cart', line_items_path(product_id: @product), class: "btn btn-success btn-sm"%>
